TIN TASK 12/schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:positiveInteger" />
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="size" type="sizeType" />
                            <xs:element name="color">
                                <xs:simpleType>
                                    <xs:union memberTypes="colorIndex colorType" />
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="date" type="xs:date" />
                            <xs:element name="SKU" type="SKUType" />


                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="uniqueTitle">
            <xs:selector xpath="order" />
            <xs:field xpath="id" />
        </xs:unique>
    </xs:element>
    <xs:simpleType name="SKUType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}-[0-9]{4}-[0-9]{4}-[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sizeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XS" />
            <xs:enumeration value="S" />
            <xs:enumeration value="M" />
            <xs:enumeration value="L" />
            <xs:enumeration value="XL" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="colorIndex">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="colorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="White" />
            <xs:enumeration value="Black" />
            <xs:enumeration value="Pink" />
            <xs:enumeration value="Red" />

        </xs:restriction>
    </xs:simpleType>


</xs:schema>